src/
test/
logs/
coverage/
**/__test__/

sonar-project.properties
tsconfig.json
tslint.json
jestconfig.json
typedoc.json
.prettierrc.json
.eslintrc.json
.eslintignore
.prettierrc
.idea
.vs
.gitlab-ci.yml
.editorconfig
.env*